* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.php linguist-detectable=true
*.blade linguist-detectable=true
prescription*.blade linguist-detectable=false
report*.blade linguist-detectable=false
*components/*.blade linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
