*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    direction: rtl;
    min-height: 100vh;
}
#main aside{
    width: 20%;
    min-height: 100vh;
    background: #1a202c;
    color: white;
}
#main aside>div{
    height: 100%;
    width: 20%;
    position: fixed;
    padding: 20px;
}
#main aside header{
    margin-bottom: 20px;
}
#main aside hr{
    opacity: 0.3;
}
#main aside nav{
    margin-top: 20px;
}
#main aside nav ul{
    list-style: none;
}
#main aside nav ul li{
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 8px;
}
#main aside nav ul li.active{
    /*background: #1277ff;*/
}
#main aside nav ul li a{
    color: white;
    text-decoration: none;
}

#main aside nav ul li.active a{
    /*text-shadow:0 0 2px rgba(26, 32, 44, 0.57);*/
    /*font-weight: bold;*/
}

#main .body{
    min-height: 100vh;
    width: 80%;
    padding: 10px;

}
#main .body header{
    height: 8.5vh;
}
#main .body hr{
    opacity: 0.3;
}
#main .body>div{
    min-height: 90vh;
}
#main .body div button{
    padding:10px ;
    margin: 20px;
}

.errorBox{
    width: 70%;
    padding: 20px;
    color: red;
    font-weight: bold;
    background-color: rgba(255, 73, 73, 0.13);
    margin: 20px auto auto;
    border-radius: 10px;
}
.errorBox strong{
    display: block;
    padding: 5px;
}
.money{
    font-family: Arial !important
}
.star-red {
color: red;
    font-size:12px;
    padding-left: 5px;
    padding-right: 5px;
}
/*patients-page*/
#patients-page{

}
#patients-page h1{
    text-align: center;
}
#patients-page .add-box{
    height: 5vh;
    display: flex;
    align-items: center;
}
#patients-page .add-box a{
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#patients-page .table{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#patients-page .table table{
    width: 90%;
    border-collapse: collapse;
}
#patients-page .table table td,#patients-page .table table th{
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;

}
#patients-page .table table button{
    padding: 6px 12px;
    outline: none;
    border: none;
    border-radius: 10px;
}
#patients-page .table table button.btn_up{
    background-color: #ff742c;
    color: white;
}
#patients-page .table table button.btn_del{
    background-color: #da0000;
    color: white;
}
/*patients-page*/
/*add-patient-page*/
#add-patient-page{

}
#add-patient-page h1{
    text-align: center;
}
#add-patient-page .back-box{
    height: 5vh;
    display: flex;
    align-items: center;
}

#add-patient-page .back-box a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#add-patient-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.69);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
#add-patient-page form>div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#add-patient-page form input,#add-patient-page form select{
    padding: 3px 6px;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 3px;
    outline: none;
}
#add-patient-page form input:focus,#add-patient-page form select{
    border-bottom: 2px solid rgba(26, 32, 44);
}
#add-patient-page form input{
    width: 60%;

}
#add-patient-page form input.btn{
    background-color: #0c6eff;
    color: white;
    width: 60%;
    border-bottom:none;
}
/*add-patient-page*/

/*edit-patient-page*/
#edit-patient-page{

}
#edit-patient-page h1{
    text-align: center;
}
#edit-patient-page .back-box{
    height: 5vh;
    display: flex;
    align-items: center;
}

#edit-patient-page .back-box a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#edit-patient-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.69);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
#edit-patient-page form>div{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#edit-patient-page form input,#add-patient-page form select{
    padding: 3px 6px;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 3px;
    outline: none;
}
#edit-patient-page form input:focus,#add-patient-page form select{
    border-bottom: 2px solid rgba(26, 32, 44);
}
#edit-patient-page form input.btn{
    background-color: #da4b00;
    color: white;
    width: 40%;
    border-bottom:none;
}
/*edit-patient-page*/



/*insurances-page*/
#insurances-page{

}
#insurances-page h1{
    text-align: center;
}
#insurances-page .add-box{
    height: 5vh;
    display: flex;
    align-items: center;
}
#insurances-page .add-box a{
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#insurances-page .table{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#insurances-page .table table{
    width: 75%;
    border-collapse: collapse;
}
#insurances-page .table table td,#insurances-page .table table th{
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;

}
#insurances-page .table table button{
    padding: 6px 12px;
    outline: none;
    border: none;
    border-radius: 10px;
}
#insurances-page .table table button.btn_up{
    background-color: #ff742c;
    color: white;
}
#insurances-page .table table button.btn_del{
    background-color: #da0000;
    color: white;
}
/*insurances-page*/
/*add-insurance-page*/
#add-insurance-page{

}
#add-insurance-page h1{
    text-align: center;
}
#add-insurance-page .back-box{
    height: 5vh;
    display: flex;
    align-items: center;
}

#add-insurance-page .back-box a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#add-insurance-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.69);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
#add-insurance-page form>div{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#add-insurance-page form input,#add-insurance-page form select{
    padding: 3px 6px;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 3px;
    outline: none;
}
#add-insurance-page form input:focus,#add-insurance-page form select{
    border-bottom: 2px solid rgba(26, 32, 44);
}
#add-insurance-page form input.btn{
    background-color: #0c6eff;
    color: white;
    width: 40%;
    border-bottom:none;
}
/*add-insurance-page*/

/*edit-insurance-page*/
#edit-insurance-page{

}
#edit-insurance-page h1{
    text-align: center;
}
#edit-insurance-page .back-box{
    height: 5vh;
    display: flex;
    align-items: center;
}

#edit-insurance-page .back-box a {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #1a202c;
    color: white;
    border-radius: 10px;
}
#edit-insurance-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.69);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
#edit-insurance-page form>div{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#edit-insurance-page form input,#add-insurance-page form select{
    padding: 3px 6px;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 3px;
    outline: none;
}
#edit-insurance-page form input:focus,#add-insurance-page form select{
    border-bottom: 2px solid rgba(26, 32, 44);
}
#edit-insurance-page form input.btn{
    background-color: #da4b00;
    color: white;
    width: 40%;
    border-bottom:none;
}
/*edit-insurance-page*/
